node_modules
.turbo
.next
dist
build
coverage
.env
.env.local
.env.*.local
!.env.example
.DS_Store
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public
vendor
bootstrap/cache/*.php
.phpunit.result.cache
.phpunit.cache
public/hot
public/storage
